<div ng-controller="ProjectsListCtrl">
	<form id="new-project">
		<label>Public</label>
		<input type="checkbox" ng-model="newProject.public">
		<label>Published</label>
		<input type="checkbox" ng-model="newProject.published">
		<input ng-model="newProject.title" class="title" type="text" name="text" placeholder="Project title" />
		<input ng-model="newProject.subtitle" class="subtitle" type="text" name="text" placeholder="Short description" />
		<input class ="teaserText" type="text" name="text" placeholder="Twitter pitch" />
		<input ng-model="newProject.description" class="text" type="text" name="text" placeholder="1000 cars pitch" />
		<input ng-model="newProject.teaserImg" class="teaserImg" type="text" name="text" placeholder="Tesear image" />
		<input ng-model="newProject.membersCountGoal" class="membersCountGoal" type="text" name="text" placeholder="Team count goal" />
		<input ng-model="newProject.membersCount" class="membersCount" type="text" name="text" placeholder="Actual team count" />
		<input ng-model="newProject.lookingFor" class="lookingFor" type="text" name="text" placeholder="Free slot for" />
		<input ng-click="newProject.owner=$root.currentUser._id; projects.push(newProject); newProject='';" type="submit">
	</form>
	<div>
	  <input type="search" ng-model="search" placeholder="Search">
		<article ng-repeat="project in projects">
			<button ng-click="remove(project);">Remove</button> 
			<h3><a href="/projects/{{project._id}}">{{project.title}}</a></h3>
			<p>{{project.subtitle}}</p>
			<img src="{{project.teaserImg}}"/>
			<p>{{project.teaserText}}</p>
			<h4>Looking for :</h4>
			<p>{{project.lookingFor}}</p>
		</article>
	</div>
</div>