<form ng-show="project.owner == $root.currentUser._id" id="project-form">
	<input ng-model="project.title" class="title" type="text" name="text" placeholder="Project title" />
	<input ng-model="project.subtitle" class="subtitle" type="text" name="text" placeholder="Short description " />
	<input ng-model="project.teaserText" class ="teaserText" type="text" name="text" placeholder="Twitter pitch" /> 
	<input ng-model="project.description" class="description" type="text" name="text" placeholder="1000 cars pitch"  />
	<input ng-model="project.teaserImg" class="teaserImg" type="text" name="text" placeholder="Tesear image" /> 
	<input type="file" nv-file-select uploader="uploader"/><br/>
    <ul>
        <li ng-repeat="item in uploader.queue">
            Name: <span ng-bind="item.file.name"></span><br/>
            <button ng-click="upload(item);">upload</button>
        </li>
    </ul>
	<input ng-model="project.membersCountGoal" class="membersCountGoal" type="text" name="text" placeholder="Team  count goal" />
	<input ng-model="project.membersCount" class="membersCount" type="text" name="text" placeholder="Actual team count" />  
	<tags-input ng-model="project.positions"></tags-input>
	<label>Published</label>
	<input type="checkbox" ng-model="project.published">
	<button ng-click="save()">Save</button>
	<button ng-click="reset()">Reset form</button>
	<button><a href="/projects">Cancel</a></button>
</form>
<img ng-src="{{project.teaserImg}}"/>
<ul>
	Team members :
	<li ng-repeat="member in users | member:project">
		<span>{{ member | displayName }}</span>
		<button ng-show="project.owner == $root.currentUser._id" ng-click="removeMember(member)">Fire him!</button>
	</li>
</ul>

<ul>
	Candidate :
	<li ng-repeat="candidate in users | candidate:project">
		<span>{{ candidate | displayName }}</span>
		<button ng-show="project.owner == $root.currentUser._id" ng-click="acceptCandidate(candidate)">Accept</button>
		<button ng-show="project.owner == $root.currentUser._id" ng-click="refuseCandidate(candidate)">Decline</button>
	</li>
</ul>

<ul ng-repeat="position in project.positions" ng-show="project.positions.length">

	<li>{{position.text}}</li><button ng-show="$root.currentUser._id && (project.owner != $root.currentUser._id) " ng-click="applyTo(project, $root.currentUser);">Apply!</button>

</ul>

<div class="project-details-maps">
  <div class="angular-google-map-container">
    <ui-gmap-google-map center="map.center" events="map.events" zoom="map.zoom">
    	<ui-gmap-marker coords="project.location" options="map.marker.options" events="map.marker.events" idkey="project._id">
    	</ui-gmap-marker>
  	</ui-gmap-google-map>
  </div>
</div>